[Unit]
Description=IoExplorer Quick Menu Server
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/ioexplorer-quick --server
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
